<footer class="footer">
  <div class="container">
    <div class="footer-section">
      <div class="social">
        <div class="caption social__caption">Social media</div>
        <ul class="social-list">
          <li class="social-items">
            <a href="#" target="_blank" rel="noopener noreferrer" class="social-link icon-youtube"></a>
          </li>
          <li class="social-items">
            <a href="#" target="_blank" rel="noopener noreferrer" class="social-link icon-fb"></a>
          </li>
          <li class="social-items">
            <a href="https://t.me/nickname" target="_blank" rel="noopener noreferrer" class="social-link icon-telegram "></a>
          </li>
        </ul>
      </div>
      <!-- /.social -->

      <div class="footer-box">
        <nav class="pages-nav">
          <div class="caption pages-nav__caption">Pages</div>
          <ul class="pages-list">
            <li class="pages-items">
              <a href="#" class="pages-link">Home</a>
            </li>
            <li class="pages-items">
              <a href="#" class="pages-link">Features</a>
            </li>
            <li class="pages-items">
              <a href="#" class="pages-link">Price</a>
            </li>
            <li class="pages-items">
              <a href="#" class="pages-link">Help</a>
            </li>
            <li class="pages-items">
              <a href="#" class="pages-link">Apps</a>
            </li>
            <li class="pages-items">
              <a href="#" class="pages-link">My Account</a>
            </li>
            <li class="pages-items">
              <a href="#" class="pages-link">About</a>
            </li>
            <li class="pages-items">
              <a href="#" class="pages-link">Refund Policy</a>
            </li>
            <li class="pages-items">
              <a href="#" class="pages-link">Terms of use</a>
            </li>
          </ul>
        </nav>
        <!-- /.pages-nav -->

<!-- Закоментил на всякий случай
После завершения проекта, если этот блок не поданобиться - можо смело удалять -->

<!--         <nav class="contact-nav">
          <div class="caption">Contact us</div>
          <ul class="pages-list">
            <li class="pages-items">
              <a href="tel:6715550110" class="pages-link">(671) 555-0110</a>
            </li>
            <li class="pages-items">
              <a href="tel:2035550106" class="pages-link">(203) 555-0106</a>
            </li>
            <li class="pages-items">
              <a href="mailto:beth.fernandez@example.com" class="pages-link">beth.fernandez@example.com</a>
            </li>
            <li class="pages-items">
              <a href="#" class="pages-link">8584 W Sherman Dr undefined Desoto, <br>Oklahoma 94015 United States</a>
            </li>
          </ul>
        </nav> -->
        <!-- /.contact-nav -->
      </div>
      
    </div>
    
    <div class="copy">(c) Anim ipsum consequat id tempor ad nostrud aliqua. </div>
    
  </div>

  <div class="back-to-top is-show">
    
  </div>
</footer>

<!-- Modal blocks -->

<div class="modal" data-open='modal-1'>
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="modal-close js-modal-close">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none">
          <rect width="19.2846" height="1.92846" transform="matrix(0.70711 0.707103 -0.70711 0.707103 1.36368 0.000183105)" fill="#5f88fd"/>
          <rect width="19.2846" height="1.92846" transform="matrix(0.70711 -0.707104 0.70711 0.707103 0 13.6362)" fill="#5f88fd"/>
        </svg>
      </button>


      <form action="#" class="form-acc js-account">
        <fieldset class="form-fieldset">
         <legend class="form-legend">Log in to your account</legend>
          <div class="form-acc__holder">
            <div class="form-row form-acc__row icon-envelop">
              <input type="email" class="form-control form-control--acc" placeholder="Email...">
            </div>
            <div class="form-row form-acc__row icon-padlock">
              <input type="password" autocomplete class="form-control form-control--acc" placeholder="Password...">
            </div>
          </div>
          <a href="#" class="forgot-pass">Forgot password</a>

          <button class="btn btn-primary form-acc__btn">Log in</button>
          <a href="#" class="register-link">If you haven’t account register here</a>
        </fieldset>
      </form>


      <form action="#" class="form-reset js-reset is-none ">
        <fieldset class="form-fieldset">
         <legend class="form-legend">Reset your password</legend>
          <div class="form-acc__holder">
            <div class="form-row form-acc__row icon-envelop">
              <input type="email" class="form-control form-control--acc" placeholder="Email...">
            </div>
          </div>
          <button class="btn btn-primary form-acc__btn">Send new password</button>
          <a href="#" class="register-link">Back</a>
        </fieldset>
      </form> 
    </div>
  </div>
</div>

<div class="modal" data-open='modal-2'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal-title--del">Вы уверены что хотите отменить действие?</h5>
        <button class="modal-close js-modal-close">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none">
            <rect width="19.2846" height="1.92846" transform="matrix(0.70711 0.707103 -0.70711 0.707103 1.36368 0.000183105)" fill="#5f88fd"/>
            <rect width="19.2846" height="1.92846" transform="matrix(0.70711 -0.707104 0.70711 0.707103 0 13.6362)" fill="#5f88fd"/>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer modal-footer--del">
        <button class="js-modal-close">Да</button>
        <button class="js-modal-close">Нет</button>
      </div>
    </div>
  </div>
</div>



<!-- ========================== -->
<div class="html-wrap">
  <div class="toggle-menu js-close-menu">
    <span>Close list</span>
  </div>
  <ul class="html-list">
    <li class="html-items">
      <span>1.</span>
      <a href="./index.html" class="html-link">index.html</a>
    </li>
    <li class="html-items">
      <span>2.</span>
      <a href="./Terms-Of-Service.html" class="html-link">Terms-Of-Service.html</a>
    </li>
    <li class="html-items">
      <span>3.</span>
      <a href="./plan-page.html" class="html-link">plan-page.html</a>
    </li>
    <li class="html-items">
      <span>4.</span>
      <a href="./admin-page.html" class="html-link">admin-page.html</a>
    </li>
    <li class="html-items">
      <span>5.</span>
      <a href="./admin-question.html" class="html-link">admin-question.html</a>
    </li>
    <li class="html-items">
      <span>6.</span>
      <a href="./preloader.html" class="html-link">preloader.html</a>
    </li>
    <li class="html-items">
      <span>7.</span>
      <a href="./notification.html" class="html-link">Уведомление</a>
    </li>
    <li class="html-items">
      <span>8.</span>
      <a href="./stub.html" class="html-link">Заглушка</a>
    </li>
  </ul>
</div>

<style>
  .html-wrap {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 2px solid #000;
    background: #fff;
    z-index: 9999;
  }
  .html-list {
    padding: 12px 8px;
    height: 200px;
    overflow: auto;
    height: auto;
    width: auto;
    display: block;
  }
  .inactive {
    display: none;
  }
  .html-items {
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .html-items span {
    display: inline-block;
    margin-right: 6px;
    min-width: 21px;
  }
  .html-link {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 400;
  }
  .html-link:hover {
    text-decoration: none;
  }
  .toggle-menu {
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
    cursor: pointer;
    padding: 0;
    text-align: right;
  }
  .toggle-menu span {
    text-align: center;
    display: block;
    background: #000;
    color: #fff;
    padding: 0 6px;
  }
</style>
<!-- ========================== -->