<head>
  <!-- Google Tag Manager -->
<!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P3F53WD');</script> -->
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175787068-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-175787068-1'),

  gtag('event', 'play', {
    'event_category': 'Videos',
    'event_label': 'Fall Campaign'
  });

  
</script>



	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=0,shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Mitr&family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">	
	<link rel="apple-touch-icon" href="favicon.ico">
  <script src="js/libs/wow.min.js"></script>
  <script>
    wow = new WOW({
      boxClass: 'wow',     
      animateClass: 'animated',
      offset: 0,         
      mobile: false,      
      live: true       
    }
    )
    wow.init();
  </script>
</head>